body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-blue: #081834;
  --light-blue: #1553b6;
  --green: #22c1c3;
  --red: #fd622d;
  background-color: var(--dark-blue);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes donut-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.spinner {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var( --light-blue);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}

.highlightedStat {
  width: 11rem;
  height: 8rem;
  border: 1px solid var(--light-blue);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chartH2 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.4rem;
}

.arrowIcon {
  width: 2rem;
  height: 2rem;
  margin-top: 0.4rem;
}

.highlightedStat h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 0.4rem;
  margin-top: 0;
}

.highlightedStat p {
  color: var(--light-blue);
  text-align: center;
  margin: 0.4rem;
}

.chart {
  margin-left: 19rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  margin: 1rem 3rem 3rem 3rem;
  display: flex;
  justify-content: space-around;
}

.sideBarContainer {
  width: 18rem;
  height: 100vh;
  border-right: 1px solid var(--light-blue);
  position: fixed;
  top: 0;
  margin: 0 1rem;

}

.sideBarContainer h1 {
  color: #fff;
  margin: 1rem 0 2rem 0rem;
  font-size: 3rem;
}

.smallerH1Font {
  font-size: 2.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.stateInput {
  width: 100%;
  width: 13rem;
  border: 1px solid var(--light-blue);
  background-color: transparent;
  padding: 1rem 0;
  color: var(--light-blue);
  text-align: center;
  margin: 1rem 1rem 1rem 0;
  font-size: 1rem;
}

.stateInput::placeholder {
  color: var(--light-blue);
}

.submitButton {
  width: 100%;
  border: 1px solid var(--light-blue);
  background-color: var(--light-blue);
  padding: 1rem 0;
  color: var(--dark-blue);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.error {
  color: var(--red);
  margin: 0.2rem 0;
  font-size: 0.8rem;
  text-align: center;
}

.stateList {
  margin-top: 1rem;
}

.stateListItem {
  display: flex;
  align-items: center;
  color: var(--light-blue);
  padding-top: 0.5rem;
}

.stateListItem p {
  margin: 0;
}

.xIconContainer {
  margin-right: 0.5rem;
  cursor: pointer;
}
